* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}
.col-3 {
    width: 25%;
    padding: 30px 15px;
}
.img{
    height: 150px;
    width: 150px;
    object-fit: contain;
}